* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.App {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

label {
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

input {
  width: 200px;
  height: 30px;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
}

::placeholder {
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  align-self: center;
  margin-bottom: 120px;
}
.cta {
  display: inline-block;
  margin-top: 15px;
  width: 60%;
  align-self: center;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #28a49c;
}

.cta:hover {
  cursor: pointer;
  background-color: #28a49c;
}

.bookingData {
  background-color: #d3d3d3;
  display: flex;
  width: 60%;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: red;
  margin: 0 auto;
}

.bookingdataBtn {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  align-self: center;
}

.info {
  width: 50%;
}

.searchGivenDate {
  margin: 0auto;
}
.twoDateSearch {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .cta {
    margin-top: 35px;
    padding: 20px 0px;
    width: 60%;
    margin: 0 auto;
  }
}
